LawPracticeFirm/Connected Services/ManuService/GetApiResult.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetManupatraResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inpage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strtocvalue" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totcount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strField" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManupatraResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManupatraResultResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="totcount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManupatraResultLawPractice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inpage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strtocvalue" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totcount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strField" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManupatraResultLawPracticeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManupatraResultLawPracticeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="totcount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManupatraResulttest1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inpage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strtocvalue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strField" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManupatraResulttest1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManupatraResulttest1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManupatraResultForOffice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inpage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strtocvalue" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totcount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="QDF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strField" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManupatraResultForOfficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManupatraResultForOfficeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="totcount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="QDF" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFederateResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="q" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inpage" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFederateResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFederateResultResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManupatraResultTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inpage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strtocvalue" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totcount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strField" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManupatraResultTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManupatraResultTestResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManuID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strkey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inpage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strcourt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManuIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManuIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManuIDInSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strkey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inpage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strcourt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManuIDInSubjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManuIDInSubjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strkey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inpage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strcourt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginOA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginOAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginOAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourtList">
        <s:complexType />
      </s:element>
      <s:element name="GetCourtListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourtListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCollection" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewDocResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptBase64">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="normalText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptBase64Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptBase64Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptBase64">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encriptedText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptBase64Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptBase64Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strmanuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getactlink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stract" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strsec" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sectiontype" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetactlinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetactlinkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="act" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strmodule" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllActResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllActResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMobileLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stPasswd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMobileLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMobileLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login_Mobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stPasswd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login_MobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login_MobileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowActDesc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCompID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowActDescResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowActDescResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowActDescOfficeApi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCompID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowActDescOfficeApiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowActDescOfficeApiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowCompTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stCompID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowCompTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ShowCompTitleResult" type="tns:BaCompTitle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BaCompTitle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompVal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetManuIdByTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strtitle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManuIdByTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManuIdByTitleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPieChartData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stManuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPieChartDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPieChartDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCaseCited">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strManuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCaseCitedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCaseCitedResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaCompTitle" type="tns:BaCompTitle" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetManupatraResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetManupatraResult" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetManupatraResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResultLawPracticeSoapIn">
    <wsdl:part name="parameters" element="tns:GetManupatraResultLawPractice" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResultLawPracticeSoapOut">
    <wsdl:part name="parameters" element="tns:GetManupatraResultLawPracticeResponse" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResulttest1SoapIn">
    <wsdl:part name="parameters" element="tns:GetManupatraResulttest1" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResulttest1SoapOut">
    <wsdl:part name="parameters" element="tns:GetManupatraResulttest1Response" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResultForOfficeSoapIn">
    <wsdl:part name="parameters" element="tns:GetManupatraResultForOffice" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResultForOfficeSoapOut">
    <wsdl:part name="parameters" element="tns:GetManupatraResultForOfficeResponse" />
  </wsdl:message>
  <wsdl:message name="GetFederateResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetFederateResult" />
  </wsdl:message>
  <wsdl:message name="GetFederateResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetFederateResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResultTestSoapIn">
    <wsdl:part name="parameters" element="tns:GetManupatraResultTest" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResultTestSoapOut">
    <wsdl:part name="parameters" element="tns:GetManupatraResultTestResponse" />
  </wsdl:message>
  <wsdl:message name="GetManuIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetManuID" />
  </wsdl:message>
  <wsdl:message name="GetManuIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetManuIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetManuIDInSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetManuIDInSubject" />
  </wsdl:message>
  <wsdl:message name="GetManuIDInSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetManuIDInSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="GetLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOASoapIn">
    <wsdl:part name="parameters" element="tns:LoginOA" />
  </wsdl:message>
  <wsdl:message name="LoginOASoapOut">
    <wsdl:part name="parameters" element="tns:LoginOAResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="GetCourtListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourtList" />
  </wsdl:message>
  <wsdl:message name="GetCourtListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourtListResponse" />
  </wsdl:message>
  <wsdl:message name="ViewDocSoapIn">
    <wsdl:part name="parameters" element="tns:ViewDoc" />
  </wsdl:message>
  <wsdl:message name="ViewDocSoapOut">
    <wsdl:part name="parameters" element="tns:ViewDocResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptBase64SoapIn">
    <wsdl:part name="parameters" element="tns:EncryptBase64" />
  </wsdl:message>
  <wsdl:message name="EncryptBase64SoapOut">
    <wsdl:part name="parameters" element="tns:EncryptBase64Response" />
  </wsdl:message>
  <wsdl:message name="DecryptBase64SoapIn">
    <wsdl:part name="parameters" element="tns:DecryptBase64" />
  </wsdl:message>
  <wsdl:message name="DecryptBase64SoapOut">
    <wsdl:part name="parameters" element="tns:DecryptBase64Response" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitle" />
  </wsdl:message>
  <wsdl:message name="GetTitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetactlinkSoapIn">
    <wsdl:part name="parameters" element="tns:Getactlink" />
  </wsdl:message>
  <wsdl:message name="GetactlinkSoapOut">
    <wsdl:part name="parameters" element="tns:GetactlinkResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllActSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAct" />
  </wsdl:message>
  <wsdl:message name="GetAllActSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllActResponse" />
  </wsdl:message>
  <wsdl:message name="GetMobileLoginSoapIn">
    <wsdl:part name="parameters" element="tns:GetMobileLogin" />
  </wsdl:message>
  <wsdl:message name="GetMobileLoginSoapOut">
    <wsdl:part name="parameters" element="tns:GetMobileLoginResponse" />
  </wsdl:message>
  <wsdl:message name="Login_MobileSoapIn">
    <wsdl:part name="parameters" element="tns:Login_Mobile" />
  </wsdl:message>
  <wsdl:message name="Login_MobileSoapOut">
    <wsdl:part name="parameters" element="tns:Login_MobileResponse" />
  </wsdl:message>
  <wsdl:message name="ShowActDescSoapIn">
    <wsdl:part name="parameters" element="tns:ShowActDesc" />
  </wsdl:message>
  <wsdl:message name="ShowActDescSoapOut">
    <wsdl:part name="parameters" element="tns:ShowActDescResponse" />
  </wsdl:message>
  <wsdl:message name="ShowActDescOfficeApiSoapIn">
    <wsdl:part name="parameters" element="tns:ShowActDescOfficeApi" />
  </wsdl:message>
  <wsdl:message name="ShowActDescOfficeApiSoapOut">
    <wsdl:part name="parameters" element="tns:ShowActDescOfficeApiResponse" />
  </wsdl:message>
  <wsdl:message name="ShowCompTitleSoapIn">
    <wsdl:part name="parameters" element="tns:ShowCompTitle" />
  </wsdl:message>
  <wsdl:message name="ShowCompTitleSoapOut">
    <wsdl:part name="parameters" element="tns:ShowCompTitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetManuIdByTitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetManuIdByTitle" />
  </wsdl:message>
  <wsdl:message name="GetManuIdByTitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetManuIdByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetPieChartDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetPieChartData" />
  </wsdl:message>
  <wsdl:message name="GetPieChartDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetPieChartDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetCaseCitedSoapIn">
    <wsdl:part name="parameters" element="tns:GetCaseCited" />
  </wsdl:message>
  <wsdl:message name="GetCaseCitedSoapOut">
    <wsdl:part name="parameters" element="tns:GetCaseCitedResponse" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResulttest1HttpGetIn">
    <wsdl:part name="strkey" type="s:string" />
    <wsdl:part name="strGUID" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
    <wsdl:part name="strtocvalue" type="s:string" />
    <wsdl:part name="strField" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResulttest1HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFederateResultHttpGetIn">
    <wsdl:part name="q" type="s:string" />
    <wsdl:part name="strGUID" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFederateResultHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResultTestHttpGetIn">
    <wsdl:part name="strkey" type="s:string" />
    <wsdl:part name="strGUID" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
    <wsdl:part name="strtocvalue" type="s:string" />
    <wsdl:part name="totcount" type="s:string" />
    <wsdl:part name="strField" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResultTestHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetManuIDHttpGetIn">
    <wsdl:part name="strkey" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
    <wsdl:part name="strcourt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetManuIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetManuIDInSubjectHttpGetIn">
    <wsdl:part name="strkey" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
    <wsdl:part name="strcourt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetManuIDInSubjectHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLocationHttpGetIn">
    <wsdl:part name="strkey" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
    <wsdl:part name="strcourt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLocationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="strUserName" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strSessionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginOAHttpGetIn">
    <wsdl:part name="strUserName" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strSessionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginOAHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LogOutHttpGetIn">
    <wsdl:part name="strUserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogOutHttpGetOut" />
  <wsdl:message name="GetCourtListHttpGetIn" />
  <wsdl:message name="GetCourtListHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ViewDocHttpGetIn">
    <wsdl:part name="strUserGuid" type="s:string" />
    <wsdl:part name="strParam" type="s:string" />
    <wsdl:part name="strPath" type="s:string" />
    <wsdl:part name="strCollection" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ViewDocHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EncryptBase64HttpGetIn">
    <wsdl:part name="normalText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EncryptBase64HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DecryptBase64HttpGetIn">
    <wsdl:part name="encriptedText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DecryptBase64HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpGetIn">
    <wsdl:part name="strUserGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTitleHttpGetIn">
    <wsdl:part name="strmanuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTitleHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetactlinkHttpGetIn">
    <wsdl:part name="stract" type="s:string" />
    <wsdl:part name="strsec" type="s:string" />
    <wsdl:part name="sectiontype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetactlinkHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllActHttpGetIn">
    <wsdl:part name="act" type="s:string" />
    <wsdl:part name="strmodule" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllActHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMobileLoginHttpGetIn">
    <wsdl:part name="stUserId" type="s:string" />
    <wsdl:part name="stPasswd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMobileLoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Login_MobileHttpGetIn">
    <wsdl:part name="stUserId" type="s:string" />
    <wsdl:part name="stPasswd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Login_MobileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ShowActDescHttpGetIn">
    <wsdl:part name="stCompID" type="s:string" />
    <wsdl:part name="stGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowActDescHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ShowActDescOfficeApiHttpGetIn">
    <wsdl:part name="stCompID" type="s:string" />
    <wsdl:part name="stGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowActDescOfficeApiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ShowCompTitleHttpGetIn">
    <wsdl:part name="stCompID" type="s:string" />
    <wsdl:part name="stGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowCompTitleHttpGetOut">
    <wsdl:part name="Body" element="tns:BaCompTitle" />
  </wsdl:message>
  <wsdl:message name="GetManuIdByTitleHttpGetIn">
    <wsdl:part name="strtitle" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetManuIdByTitleHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPieChartDataHttpGetIn">
    <wsdl:part name="stManuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPieChartDataHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetCaseCitedHttpGetIn">
    <wsdl:part name="strManuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCaseCitedHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResulttest1HttpPostIn">
    <wsdl:part name="strkey" type="s:string" />
    <wsdl:part name="strGUID" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
    <wsdl:part name="strtocvalue" type="s:string" />
    <wsdl:part name="strField" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResulttest1HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFederateResultHttpPostIn">
    <wsdl:part name="q" type="s:string" />
    <wsdl:part name="strGUID" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFederateResultHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResultTestHttpPostIn">
    <wsdl:part name="strkey" type="s:string" />
    <wsdl:part name="strGUID" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
    <wsdl:part name="strtocvalue" type="s:string" />
    <wsdl:part name="totcount" type="s:string" />
    <wsdl:part name="strField" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetManupatraResultTestHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetManuIDHttpPostIn">
    <wsdl:part name="strkey" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
    <wsdl:part name="strcourt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetManuIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetManuIDInSubjectHttpPostIn">
    <wsdl:part name="strkey" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
    <wsdl:part name="strcourt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetManuIDInSubjectHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLocationHttpPostIn">
    <wsdl:part name="strkey" type="s:string" />
    <wsdl:part name="inpage" type="s:string" />
    <wsdl:part name="strcourt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLocationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="strUserName" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strSessionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginOAHttpPostIn">
    <wsdl:part name="strUserName" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strSessionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginOAHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LogOutHttpPostIn">
    <wsdl:part name="strUserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogOutHttpPostOut" />
  <wsdl:message name="GetCourtListHttpPostIn" />
  <wsdl:message name="GetCourtListHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ViewDocHttpPostIn">
    <wsdl:part name="strUserGuid" type="s:string" />
    <wsdl:part name="strParam" type="s:string" />
    <wsdl:part name="strPath" type="s:string" />
    <wsdl:part name="strCollection" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ViewDocHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EncryptBase64HttpPostIn">
    <wsdl:part name="normalText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EncryptBase64HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DecryptBase64HttpPostIn">
    <wsdl:part name="encriptedText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DecryptBase64HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpPostIn">
    <wsdl:part name="strUserGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTitleHttpPostIn">
    <wsdl:part name="strmanuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTitleHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetactlinkHttpPostIn">
    <wsdl:part name="stract" type="s:string" />
    <wsdl:part name="strsec" type="s:string" />
    <wsdl:part name="sectiontype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetactlinkHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllActHttpPostIn">
    <wsdl:part name="act" type="s:string" />
    <wsdl:part name="strmodule" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllActHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMobileLoginHttpPostIn">
    <wsdl:part name="stUserId" type="s:string" />
    <wsdl:part name="stPasswd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMobileLoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Login_MobileHttpPostIn">
    <wsdl:part name="stUserId" type="s:string" />
    <wsdl:part name="stPasswd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Login_MobileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ShowActDescHttpPostIn">
    <wsdl:part name="stCompID" type="s:string" />
    <wsdl:part name="stGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowActDescHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ShowActDescOfficeApiHttpPostIn">
    <wsdl:part name="stCompID" type="s:string" />
    <wsdl:part name="stGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowActDescOfficeApiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ShowCompTitleHttpPostIn">
    <wsdl:part name="stCompID" type="s:string" />
    <wsdl:part name="stGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowCompTitleHttpPostOut">
    <wsdl:part name="Body" element="tns:BaCompTitle" />
  </wsdl:message>
  <wsdl:message name="GetManuIdByTitleHttpPostIn">
    <wsdl:part name="strtitle" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetManuIdByTitleHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPieChartDataHttpPostIn">
    <wsdl:part name="stManuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPieChartDataHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetCaseCitedHttpPostIn">
    <wsdl:part name="strManuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCaseCitedHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="GetApiResultSoap">
    <wsdl:operation name="GetManupatraResult">
      <wsdl:input message="tns:GetManupatraResultSoapIn" />
      <wsdl:output message="tns:GetManupatraResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultLawPractice">
      <wsdl:input message="tns:GetManupatraResultLawPracticeSoapIn" />
      <wsdl:output message="tns:GetManupatraResultLawPracticeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResulttest1">
      <wsdl:input message="tns:GetManupatraResulttest1SoapIn" />
      <wsdl:output message="tns:GetManupatraResulttest1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultForOffice">
      <wsdl:input message="tns:GetManupatraResultForOfficeSoapIn" />
      <wsdl:output message="tns:GetManupatraResultForOfficeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFederateResult">
      <wsdl:input message="tns:GetFederateResultSoapIn" />
      <wsdl:output message="tns:GetFederateResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultTest">
      <wsdl:input message="tns:GetManupatraResultTestSoapIn" />
      <wsdl:output message="tns:GetManupatraResultTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManuID">
      <wsdl:input message="tns:GetManuIDSoapIn" />
      <wsdl:output message="tns:GetManuIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManuIDInSubject">
      <wsdl:input message="tns:GetManuIDInSubjectSoapIn" />
      <wsdl:output message="tns:GetManuIDInSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:input message="tns:GetLocationSoapIn" />
      <wsdl:output message="tns:GetLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginOA">
      <wsdl:input message="tns:LoginOASoapIn" />
      <wsdl:output message="tns:LoginOASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input message="tns:LogOutSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="GetCourtList">
      <wsdl:input message="tns:GetCourtListSoapIn" />
      <wsdl:output message="tns:GetCourtListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewDoc">
      <wsdl:input message="tns:ViewDocSoapIn" />
      <wsdl:output message="tns:ViewDocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EncryptBase64">
      <wsdl:input message="tns:EncryptBase64SoapIn" />
      <wsdl:output message="tns:EncryptBase64SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DecryptBase64">
      <wsdl:input message="tns:DecryptBase64SoapIn" />
      <wsdl:output message="tns:DecryptBase64SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenSoapIn" />
      <wsdl:output message="tns:GetTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <wsdl:input message="tns:GetTitleSoapIn" />
      <wsdl:output message="tns:GetTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getactlink">
      <wsdl:input message="tns:GetactlinkSoapIn" />
      <wsdl:output message="tns:GetactlinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAct">
      <wsdl:input message="tns:GetAllActSoapIn" />
      <wsdl:output message="tns:GetAllActSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMobileLogin">
      <wsdl:input message="tns:GetMobileLoginSoapIn" />
      <wsdl:output message="tns:GetMobileLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login_Mobile">
      <wsdl:input message="tns:Login_MobileSoapIn" />
      <wsdl:output message="tns:Login_MobileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowActDesc">
      <wsdl:input message="tns:ShowActDescSoapIn" />
      <wsdl:output message="tns:ShowActDescSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowActDescOfficeApi">
      <wsdl:input message="tns:ShowActDescOfficeApiSoapIn" />
      <wsdl:output message="tns:ShowActDescOfficeApiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowCompTitle">
      <wsdl:input message="tns:ShowCompTitleSoapIn" />
      <wsdl:output message="tns:ShowCompTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManuIdByTitle">
      <wsdl:input message="tns:GetManuIdByTitleSoapIn" />
      <wsdl:output message="tns:GetManuIdByTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPieChartData">
      <wsdl:input message="tns:GetPieChartDataSoapIn" />
      <wsdl:output message="tns:GetPieChartDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseCited">
      <wsdl:input message="tns:GetCaseCitedSoapIn" />
      <wsdl:output message="tns:GetCaseCitedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetApiResultHttpGet">
    <wsdl:operation name="GetManupatraResulttest1">
      <wsdl:input message="tns:GetManupatraResulttest1HttpGetIn" />
      <wsdl:output message="tns:GetManupatraResulttest1HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFederateResult">
      <wsdl:input message="tns:GetFederateResultHttpGetIn" />
      <wsdl:output message="tns:GetFederateResultHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultTest">
      <wsdl:input message="tns:GetManupatraResultTestHttpGetIn" />
      <wsdl:output message="tns:GetManupatraResultTestHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManuID">
      <wsdl:input message="tns:GetManuIDHttpGetIn" />
      <wsdl:output message="tns:GetManuIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManuIDInSubject">
      <wsdl:input message="tns:GetManuIDInSubjectHttpGetIn" />
      <wsdl:output message="tns:GetManuIDInSubjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:input message="tns:GetLocationHttpGetIn" />
      <wsdl:output message="tns:GetLocationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginOA">
      <wsdl:input message="tns:LoginOAHttpGetIn" />
      <wsdl:output message="tns:LoginOAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input message="tns:LogOutHttpGetIn" />
      <wsdl:output message="tns:LogOutHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourtList">
      <wsdl:input message="tns:GetCourtListHttpGetIn" />
      <wsdl:output message="tns:GetCourtListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewDoc">
      <wsdl:input message="tns:ViewDocHttpGetIn" />
      <wsdl:output message="tns:ViewDocHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EncryptBase64">
      <wsdl:input message="tns:EncryptBase64HttpGetIn" />
      <wsdl:output message="tns:EncryptBase64HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DecryptBase64">
      <wsdl:input message="tns:DecryptBase64HttpGetIn" />
      <wsdl:output message="tns:DecryptBase64HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenHttpGetIn" />
      <wsdl:output message="tns:GetTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <wsdl:input message="tns:GetTitleHttpGetIn" />
      <wsdl:output message="tns:GetTitleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Getactlink">
      <wsdl:input message="tns:GetactlinkHttpGetIn" />
      <wsdl:output message="tns:GetactlinkHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAct">
      <wsdl:input message="tns:GetAllActHttpGetIn" />
      <wsdl:output message="tns:GetAllActHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMobileLogin">
      <wsdl:input message="tns:GetMobileLoginHttpGetIn" />
      <wsdl:output message="tns:GetMobileLoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Login_Mobile">
      <wsdl:input message="tns:Login_MobileHttpGetIn" />
      <wsdl:output message="tns:Login_MobileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowActDesc">
      <wsdl:input message="tns:ShowActDescHttpGetIn" />
      <wsdl:output message="tns:ShowActDescHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowActDescOfficeApi">
      <wsdl:input message="tns:ShowActDescOfficeApiHttpGetIn" />
      <wsdl:output message="tns:ShowActDescOfficeApiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowCompTitle">
      <wsdl:input message="tns:ShowCompTitleHttpGetIn" />
      <wsdl:output message="tns:ShowCompTitleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManuIdByTitle">
      <wsdl:input message="tns:GetManuIdByTitleHttpGetIn" />
      <wsdl:output message="tns:GetManuIdByTitleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPieChartData">
      <wsdl:input message="tns:GetPieChartDataHttpGetIn" />
      <wsdl:output message="tns:GetPieChartDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseCited">
      <wsdl:input message="tns:GetCaseCitedHttpGetIn" />
      <wsdl:output message="tns:GetCaseCitedHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetApiResultHttpPost">
    <wsdl:operation name="GetManupatraResulttest1">
      <wsdl:input message="tns:GetManupatraResulttest1HttpPostIn" />
      <wsdl:output message="tns:GetManupatraResulttest1HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFederateResult">
      <wsdl:input message="tns:GetFederateResultHttpPostIn" />
      <wsdl:output message="tns:GetFederateResultHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultTest">
      <wsdl:input message="tns:GetManupatraResultTestHttpPostIn" />
      <wsdl:output message="tns:GetManupatraResultTestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManuID">
      <wsdl:input message="tns:GetManuIDHttpPostIn" />
      <wsdl:output message="tns:GetManuIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManuIDInSubject">
      <wsdl:input message="tns:GetManuIDInSubjectHttpPostIn" />
      <wsdl:output message="tns:GetManuIDInSubjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:input message="tns:GetLocationHttpPostIn" />
      <wsdl:output message="tns:GetLocationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginOA">
      <wsdl:input message="tns:LoginOAHttpPostIn" />
      <wsdl:output message="tns:LoginOAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input message="tns:LogOutHttpPostIn" />
      <wsdl:output message="tns:LogOutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourtList">
      <wsdl:input message="tns:GetCourtListHttpPostIn" />
      <wsdl:output message="tns:GetCourtListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewDoc">
      <wsdl:input message="tns:ViewDocHttpPostIn" />
      <wsdl:output message="tns:ViewDocHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EncryptBase64">
      <wsdl:input message="tns:EncryptBase64HttpPostIn" />
      <wsdl:output message="tns:EncryptBase64HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DecryptBase64">
      <wsdl:input message="tns:DecryptBase64HttpPostIn" />
      <wsdl:output message="tns:DecryptBase64HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenHttpPostIn" />
      <wsdl:output message="tns:GetTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <wsdl:input message="tns:GetTitleHttpPostIn" />
      <wsdl:output message="tns:GetTitleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Getactlink">
      <wsdl:input message="tns:GetactlinkHttpPostIn" />
      <wsdl:output message="tns:GetactlinkHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAct">
      <wsdl:input message="tns:GetAllActHttpPostIn" />
      <wsdl:output message="tns:GetAllActHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMobileLogin">
      <wsdl:input message="tns:GetMobileLoginHttpPostIn" />
      <wsdl:output message="tns:GetMobileLoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Login_Mobile">
      <wsdl:input message="tns:Login_MobileHttpPostIn" />
      <wsdl:output message="tns:Login_MobileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowActDesc">
      <wsdl:input message="tns:ShowActDescHttpPostIn" />
      <wsdl:output message="tns:ShowActDescHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowActDescOfficeApi">
      <wsdl:input message="tns:ShowActDescOfficeApiHttpPostIn" />
      <wsdl:output message="tns:ShowActDescOfficeApiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowCompTitle">
      <wsdl:input message="tns:ShowCompTitleHttpPostIn" />
      <wsdl:output message="tns:ShowCompTitleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManuIdByTitle">
      <wsdl:input message="tns:GetManuIdByTitleHttpPostIn" />
      <wsdl:output message="tns:GetManuIdByTitleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPieChartData">
      <wsdl:input message="tns:GetPieChartDataHttpPostIn" />
      <wsdl:output message="tns:GetPieChartDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseCited">
      <wsdl:input message="tns:GetCaseCitedHttpPostIn" />
      <wsdl:output message="tns:GetCaseCitedHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetApiResultSoap" type="tns:GetApiResultSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetManupatraResult">
      <soap:operation soapAction="http://tempuri.org/GetManupatraResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultLawPractice">
      <soap:operation soapAction="http://tempuri.org/GetManupatraResultLawPractice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResulttest1">
      <soap:operation soapAction="http://tempuri.org/GetManupatraResulttest1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultForOffice">
      <soap:operation soapAction="http://tempuri.org/GetManupatraResultForOffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFederateResult">
      <soap:operation soapAction="http://tempuri.org/GetFederateResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultTest">
      <soap:operation soapAction="http://tempuri.org/GetManupatraResultTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuID">
      <soap:operation soapAction="http://tempuri.org/GetManuID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuIDInSubject">
      <soap:operation soapAction="http://tempuri.org/GetManuIDInSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap:operation soapAction="http://tempuri.org/GetLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginOA">
      <soap:operation soapAction="http://tempuri.org/LoginOA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetCourtList">
      <soap:operation soapAction="http://tempuri.org/GetCourtList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewDoc">
      <soap:operation soapAction="http://tempuri.org/ViewDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptBase64">
      <soap:operation soapAction="http://tempuri.org/EncryptBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptBase64">
      <soap:operation soapAction="http://tempuri.org/DecryptBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="http://tempuri.org/GetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <soap:operation soapAction="http://tempuri.org/GetTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getactlink">
      <soap:operation soapAction="http://tempuri.org/Getactlink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAct">
      <soap:operation soapAction="http://tempuri.org/GetAllAct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMobileLogin">
      <soap:operation soapAction="http://tempuri.org/GetMobileLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login_Mobile">
      <soap:operation soapAction="http://tempuri.org/Login_Mobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowActDesc">
      <soap:operation soapAction="http://tempuri.org/ShowActDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowActDescOfficeApi">
      <soap:operation soapAction="http://tempuri.org/ShowActDescOfficeApi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCompTitle">
      <soap:operation soapAction="http://tempuri.org/ShowCompTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuIdByTitle">
      <soap:operation soapAction="http://tempuri.org/GetManuIdByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPieChartData">
      <soap:operation soapAction="http://tempuri.org/GetPieChartData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseCited">
      <soap:operation soapAction="http://tempuri.org/GetCaseCited" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetApiResultSoap12" type="tns:GetApiResultSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetManupatraResult">
      <soap12:operation soapAction="http://tempuri.org/GetManupatraResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultLawPractice">
      <soap12:operation soapAction="http://tempuri.org/GetManupatraResultLawPractice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResulttest1">
      <soap12:operation soapAction="http://tempuri.org/GetManupatraResulttest1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultForOffice">
      <soap12:operation soapAction="http://tempuri.org/GetManupatraResultForOffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFederateResult">
      <soap12:operation soapAction="http://tempuri.org/GetFederateResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultTest">
      <soap12:operation soapAction="http://tempuri.org/GetManupatraResultTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuID">
      <soap12:operation soapAction="http://tempuri.org/GetManuID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuIDInSubject">
      <soap12:operation soapAction="http://tempuri.org/GetManuIDInSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap12:operation soapAction="http://tempuri.org/GetLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginOA">
      <soap12:operation soapAction="http://tempuri.org/LoginOA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetCourtList">
      <soap12:operation soapAction="http://tempuri.org/GetCourtList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewDoc">
      <soap12:operation soapAction="http://tempuri.org/ViewDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptBase64">
      <soap12:operation soapAction="http://tempuri.org/EncryptBase64" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptBase64">
      <soap12:operation soapAction="http://tempuri.org/DecryptBase64" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap12:operation soapAction="http://tempuri.org/GetToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <soap12:operation soapAction="http://tempuri.org/GetTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getactlink">
      <soap12:operation soapAction="http://tempuri.org/Getactlink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAct">
      <soap12:operation soapAction="http://tempuri.org/GetAllAct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMobileLogin">
      <soap12:operation soapAction="http://tempuri.org/GetMobileLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login_Mobile">
      <soap12:operation soapAction="http://tempuri.org/Login_Mobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowActDesc">
      <soap12:operation soapAction="http://tempuri.org/ShowActDesc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowActDescOfficeApi">
      <soap12:operation soapAction="http://tempuri.org/ShowActDescOfficeApi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCompTitle">
      <soap12:operation soapAction="http://tempuri.org/ShowCompTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuIdByTitle">
      <soap12:operation soapAction="http://tempuri.org/GetManuIdByTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPieChartData">
      <soap12:operation soapAction="http://tempuri.org/GetPieChartData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseCited">
      <soap12:operation soapAction="http://tempuri.org/GetCaseCited" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetApiResultHttpGet" type="tns:GetApiResultHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetManupatraResulttest1">
      <http:operation location="/GetManupatraResulttest1" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFederateResult">
      <http:operation location="/GetFederateResult" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultTest">
      <http:operation location="/GetManupatraResultTest" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuID">
      <http:operation location="/GetManuID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuIDInSubject">
      <http:operation location="/GetManuIDInSubject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <http:operation location="/GetLocation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginOA">
      <http:operation location="/LoginOA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <http:operation location="/LogOut" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCourtList">
      <http:operation location="/GetCourtList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewDoc">
      <http:operation location="/ViewDoc" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptBase64">
      <http:operation location="/EncryptBase64" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptBase64">
      <http:operation location="/DecryptBase64" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <http:operation location="/GetToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <http:operation location="/GetTitle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getactlink">
      <http:operation location="/Getactlink" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAct">
      <http:operation location="/GetAllAct" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMobileLogin">
      <http:operation location="/GetMobileLogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login_Mobile">
      <http:operation location="/Login_Mobile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowActDesc">
      <http:operation location="/ShowActDesc" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowActDescOfficeApi">
      <http:operation location="/ShowActDescOfficeApi" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCompTitle">
      <http:operation location="/ShowCompTitle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuIdByTitle">
      <http:operation location="/GetManuIdByTitle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPieChartData">
      <http:operation location="/GetPieChartData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseCited">
      <http:operation location="/GetCaseCited" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetApiResultHttpPost" type="tns:GetApiResultHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetManupatraResulttest1">
      <http:operation location="/GetManupatraResulttest1" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFederateResult">
      <http:operation location="/GetFederateResult" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManupatraResultTest">
      <http:operation location="/GetManupatraResultTest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuID">
      <http:operation location="/GetManuID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuIDInSubject">
      <http:operation location="/GetManuIDInSubject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <http:operation location="/GetLocation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginOA">
      <http:operation location="/LoginOA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <http:operation location="/LogOut" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCourtList">
      <http:operation location="/GetCourtList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewDoc">
      <http:operation location="/ViewDoc" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptBase64">
      <http:operation location="/EncryptBase64" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptBase64">
      <http:operation location="/DecryptBase64" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <http:operation location="/GetToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <http:operation location="/GetTitle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getactlink">
      <http:operation location="/Getactlink" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAct">
      <http:operation location="/GetAllAct" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMobileLogin">
      <http:operation location="/GetMobileLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login_Mobile">
      <http:operation location="/Login_Mobile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowActDesc">
      <http:operation location="/ShowActDesc" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowActDescOfficeApi">
      <http:operation location="/ShowActDescOfficeApi" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCompTitle">
      <http:operation location="/ShowCompTitle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManuIdByTitle">
      <http:operation location="/GetManuIdByTitle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPieChartData">
      <http:operation location="/GetPieChartData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseCited">
      <http:operation location="/GetCaseCited" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetApiResult">
    <wsdl:port name="GetApiResultSoap" binding="tns:GetApiResultSoap">
      <soap:address location="http://125.21.22.170:10001/GetApiResult.asmx" />
    </wsdl:port>
    <wsdl:port name="GetApiResultSoap12" binding="tns:GetApiResultSoap12">
      <soap12:address location="http://125.21.22.170:10001/GetApiResult.asmx" />
    </wsdl:port>
    <wsdl:port name="GetApiResultHttpGet" binding="tns:GetApiResultHttpGet">
      <http:address location="http://125.21.22.170:10001/GetApiResult.asmx" />
    </wsdl:port>
    <wsdl:port name="GetApiResultHttpPost" binding="tns:GetApiResultHttpPost">
      <http:address location="http://125.21.22.170:10001/GetApiResult.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>